<div class="bg-white min-h-screen flex overflow-hidden">
  <!-- Imagen -->
  <div class="hidden md:block w-1/2 h-screen">
    <img src="https://images.pexels.com/photos/6348134/pexels-photo-6348134.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Signup Image" class="w-full h-full object-cover">
  </div>
  <!-- Formulario de Registro -->
  <div class="w-full md:w-1/2 p-8 flex flex-col justify-center bg-white">
    <p class="uppercase font-bold text-gray-500 mb-2">Welcome Again!</p>
    <h1 class="text-4xl md:text-5xl font-bold mb-6">Log in</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'space-y-4' }) do |f| %>

      <div class="mb-4">
        <%= f.label :email, class: "block sign_up_label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "sing_up_input mt-1 block w-full border-2 border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm h-10" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: "block sign_up_label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "sing_up_input mt-1 block w-full border-2 border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm h-10" %>
      </div>

      <div class="mb-6">
        <%= f.submit "Log in", class: "bg-primary hover:bg-blue-700 text-white font-bold py-4 px-4 rounded-full w-full shadow-lg cursor-pointer" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    <% end %>

    <div class="flex items-center mt-4">
      <p class="font-bold text-gray-500">Already have an account?</p>
      <a class="font-bold text-blue-600 mx-2" href="<%= new_registration_path(resource_name) %>">Sign up</a>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>

